/* Use smarter box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Set the width of tab character as 4 space character instead of default value 8 */
  tab-size: 4;
  /* Remove default margin: 8px */
  margin: 0;
  /* Set system's font family as default */
  font-family: system-ui, sans-serif;
  /* Set line height as 1.5 instead of default value "normal" (1.2) */
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  /* Set line height as 1.2 (normal) instead of inhereted value from body element 1.5 */
  line-height: 1.2;
}
