/* Use smarter box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* Set the width of tab character as 4 space character instead of default value 8 */
  tab-size: 4;
  /* Remove default margin: 8px */
  margin: 0;
  /* Set system's font family as default */
  font-family: system-ui, sans-serif;
  /* Set line height as 1.5 instead of default value "normal" (1.2) */
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  /* Set line height as 1.2 (normal) instead of inhereted value from body element 1.5 */
  line-height: 1.2;
}

button,
input,
select,
textarea {
  /* Inherit "font-family" and "font-size" from "body" */
  font-family: inherit;
  font-size: inherit;
}

ul[role='list'],
ol[role='list'] {
  /* Remove default marker */
  list-style-type: none;
  /* Remove default padding-inline-start */
  padding-inline-start: 0;
}

hr {
  /* Change border style to "solid" from "inset" */
  border-style: solid;
  /* Fix color inhering on Firefox */
  color: inherit;
}

canvas,
img,
video {
  /* Change display type from "inline" to "block" */
  display: block;
  /* Set "max-width: 100%" to get rid of overflow issues */
  max-width: 100%;
}

button,
select,
summary {
  /* Interactive elements should be pointed */
  cursor: pointer;
}
